.plans {
    &__container-text {
            // Подчёркивание "О проекте" через псевдоэлемент ::before
    display: inline;
    position: relative;
    color: var(--grayscale-black);
    background: var(--grayscale-white);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-right: 6px;
    z-index: 10;
  }

  &__container-text::before {
    // Линия за текстом
    position: absolute;
    content: "";
    background: var(--grayscale-black);
    width: 473px;
    height: 2px;
    top: 8px;
    left: 0;
    z-index: -1;
    }
    &__container-list {
        display: grid;
        grid-template-columns: repeat(3 1fr);
        grid-template-rows: repeat(2 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }
    &__container-item:first-child {
        grid-area: 1 / 1 / 2 / 2;
    }
    &__container-item:nth-child(2) {
        grid-area: 1 / 2 / 2 / 3;
    }
    &__container-item:nth-child(3) {
        grid-area: 1 / 3 / 2 / 4;
    }
    &__container-item:nth-child(4) {
        grid-area: 2 / 1 / 3 / 2;
    }
    &__container-item:nth-child(5) {
        grid-area: 2 / 2 / 3 / 3;
    }
    &__container-item {
        position: relative;
        &--name {
            color: #000;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 36px */
text-transform: uppercase;
        }
        &--desc {
            width: 332px;
            color: #9C9C9C;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 21.6px */
        }
    }
    &__container-images {
        width: 380px;
height: 340.914px;
flex-shrink: 0;
    }
}
.plans-button {
    display: inline-flex;
padding: 14px 34px 14px 32px;
align-items: flex-start;
gap: 10px;
color: var(--Grayscale-White, #FFF);
/* Montserrat/Medium/14 */
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 21px */
}
